<h1>My page</h1>
<h2><%= user.name %></h2>
<h2><%= user.email %></h2>
<h3>Posts</h2>
<% if posts.present? %>
  <ul>
    <% posts.each do |post| %>
      <li><%= post.content %></li>
    <% end %>
  </ul>
<% else %>
  <p>no posts</p>
<% end%>
