<%= form_with url: posts_path,
              model: post,
              data: {
                controller: 'form',
                action: 'turbo:submit-end->form#clear' } do |f| %>
  <%= f.text_area :content,
                   class: 'text-xl w-full py-2 border-0 border-transparent focus:border-transparent focus:ring-0',
                   placeholder: 'What\'s happening?!' %>
  <div class="flex justify-end w-full">
    <div class="flex items-center text-white font-bold rounded-full bg-blue-400 hover:bg-blue-500 transition duration-200">
      <%= f.submit 'Post', type: :submit, class: 'px-4 py-2' %>
    </div>
<% end %>
